
@media screen and (min-width: 568px) {
    .side-bar {
        width:250px ;
    }
    .side-bar .middle-section .playlist-container{
        display: block;
    }
    .side-bar .sidebar-list a{
        justify-content: flex-start;
    }
    .side-bar .sidebar-list .li-icon{
        margin-right: 1rem;
    }
    .side-bar .sidebar-list .li-text{
        display: block;
    }
    .s-logo {
        width: 100%;
        display: none;
    }
    .l-logo{
        width: 150px;
        display: block;
    }
    .li-text{
        line-height: 1.5rem;
    }
    .li-img{
        width: 1.5rem;
        height: 100%;
        margin-right: .5rem;

    }
    .img-left-bar{
        width: 60px;
    }
    .right-bar{
        padding: 1rem;
        display: flex;
        align-items: center;
    }
  
}

@media screen and (min-width: 768px) {
   
    .col-1-4{
        flex-basis: calc(100% /4);
        padding: .5rem;
        
    }
  
}

@media screen and (min-width: 992px){
    .col-1-6{
        flex-basis: calc(100% /6);
        padding: .5rem;
    }
}

